numpy
langchain
langchain-text-splitters
langchain-openai
sentence-transformers
langchain-community
langchain-groq
langchain-core
wikipedia
pymupdf
arxiv
pydantic
python-dotenv
langchain-huggingface
faiss-cpu
pinecone
langchain-pinecone
chromadb
langchain-chroma
pymupdf
pypdf
rank-bm25
tiktoken
pdfplumber
unstructured
langsmith
langgraph
# duckduckgo-search
ddgs